.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__form{
  border: 1px solid brown;
  padding: 2.0em;
}
.container__form__num1-div{
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0em;
}
.container__form__num2-div{
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0em;
}

.container__form__operation-div{
  margin: 0.5em 0em;
}

.container__form__radio-div{
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0em;
}

.container__form__submit-result-div{
  display: flex;
  margin: 0.8em 0em;
  /* justify-content: space-between; */
}

#submit-btn{
  flex: 3, 
}

#result{
  flex: 4;
  margin-left: 0.5em;
  border: 1px solid black;
  text-align: right;
  padding: 0.5em;
}